<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/sidebar.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.svg') }}" type="image/x-icon">
</head>
<body>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <img src="{{ url_for('static', filename='images/logo.svg') }}" width="64px" height="64px">
                </button>
                <div class="sidebar-logo">
                    <a href="#">Plantcare</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="sidebar-link">
                        <i class="bi bi-person"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/market" class="sidebar-link">
                        <i class="bi bi-shop"></i>
                        <span>Market</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bi bi-gear"></i>
                        <span>Settings</span>
                    </a>
                </li>
            </ul>
            <div class="sidebar-footer">
                <a href="{{ url_for('logout') }}" class="sidebar-link">
                    <i class="lni lni-exit"></i>
                    <span>Logout</span>
                </a>
            </div>
        </aside>
    

<br>

<div class="row p-3">
    {% for index in range(0,supplement_name | length) %}
    {% if index != 4 %}
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
        <center>
            {% if index==3 or index==5 or index==7 or index==11 or index==15 or index==18 or index==20 or
            index==23 or
            index==24 or index==25 or index==28 or index==38 %}
            <h5>Fertilizer<b style="color: green;"> (Healthy):</b></h5>
            {% else %}
            <h5>Supplements<b style="color: red;"> (Diseased):</b></h5>
            {% endif %}
            <br>
            <img src={{supplement_image[index]}} width="200" height="250">
            <br>
            <br>
            <h6>For {{disease[index]}}</h6>
            <p>{{supplement_name[index]}}</p>

            <a target="_blank" href={{buy[index]}}><button type="button" class="btn btn-success"
                    style="background-color: #05380b;">Buy Product</button></a>
        </center>
    </div>
</div>
{% endif %}
{% endfor %}
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>